*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ references and libraries
.idea/
*.iml
*.iws

# Eclipse references and libraries
.classpath
.project
.settings/

# Max
.DS_Store

# Maven
log/
target/

# WordNet Database (it's HUGE!)
wordnet/

# Compiled files
benchmark-runnable.csv

# Random crap
misc/